.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

header {
  width: 1000px;
}

.photo {
  width: 200px;
  height: 120px;
  background-color: #add8e6;
}

img {
  width: 100px;
  height: 60px;
}

.header1 {
  background-color: #87ceeb;
  width: 800px;
  height: 60px;
}

.header2 {
  background-color: #00ffff;
  width: 800px;
  height: 60px;
}